{% extends 'core/base.html'%}

{% block title %}Acerca de{% endblock %}

{% block background %}{% load static %}{% static 'core/img/arboles.jpeg' %}{% endblock %}

{% block headers%}
<h1>Naturaleza Buena-Vista</h1>
<span class="subheading">"Desconectate del la tecnología por un momento"</span>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-3 col-md-4 offset-lg-1" >
        <img class="img-fluid avatar" src="{% static 'core/img/camino.jpeg' %}" alt="">
    </div>
    <div class="col-lg-7 col-md-8" >
        <h2 class="section-heading">Acerca de ...</h2>
        <p>Nos dedicamos al entretenimiento en un ambiente rural rodeados de naturaleza en el bosque de Alta-Lucia. </p>
        <p>"Ven y conocenos"</p>
    </div>
    <div class="col-lg-5 col-md-5 offset-1" >
        <div>
            <h2 class="section-heading ">Nos ubicamos en: </h2><br>
            <p>Bosque de Chapultepec, JARDIN BOTANICO DEL, Bosque de Chapultepec I Secc, Miguel Hidalgo,
                11580 Ciudad de México</p>
            <img src="{% static 'core/img/about-bg.jpg' %}" alt="" width="900" height="500" title="Ubicacion">
        </div>
         <p>"Te esperamos"</p>
    </div>
</div>
{% endblock %}